body {
  background-color: rgb(255, 255, 255);
}

h1 {
  text-align: center;
  background-color: rgb(224, 62, 62);
  color: white;
  padding: 10px;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.msgBox {
  box-shadow: 2px 2px 13px rgb(116, 112, 112);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
  text-align: center;
  font-style: italic;
  font-size: 18px;
}

.btnsDiv {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btnsDiv button,
.btn {
  border: 2px solid white;
  background-color: crimson;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.btnsDiv button:hover,
.btn:hover {
  color: crimson;
  background-color: white;
  border: 2px solid crimson;
}
